.product-card-div {
  padding: 0;
  margin: 0;
  padding-bottom: 60px;
  border: none;
}

.product-card {
  padding: 0;
  margin: 0;
  border: none;
}

.card-img {
  border: none;
  margin: none;
  padding: none;
  border-radius: 0;
}

.div-prices{
  margin: 0;
  align-items: center;
}

.card-body{
  padding: 32px;
  a{
    margin-top: 10px;
  }

}

.card-text {
  font-size: 12px;
}

.card-title {
  font-size: 12px;
}

.card-installments {
  font-size: 12px;
  margin-left: 5rem;
  margin-bottom: .75rem;
}