.products-row {
  margin: 0;
}

.chosen-collection-row {
  background: #F4F4F4;
  margin-top: 120px;
  max-height: 525px;
}

.div-texts {
  text-align: center;
  align-self: center;
  max-height: 525px;

  .container {
    margin: 0 auto;
    width: 50%;
  }

  p {
    font-size: 12px;
  }
}

.row-buttons {
  justify-content: space-evenly;
  text-align: center;
  text-decoration: underline;
  font: normal normal 300 11px/17px Futura Lt BT;
  letter-spacing: 0px;
  color: #000000;
  opacity: 1;

  button{
    background-color: transparent;
    border: none;
  }

}

.div-img {
  text-align: center;
  align-self: center;
  max-height: 525px;
}

.chosen-collection-img {
  height: 50vh;
  align-self: center;
}

.display-collection-name-filter {
  width: 100%;
  padding: 0;
}

.row-filter-buttons{

  button{
    font-size: 12px;
    background-color: transparent;
    border: none;
  }
}

.display-collection-name{
  margin-left: 30px;
  text-justify: initial;
}