.navbar-header{
  background-color: #FFF !important;
}

.header {
  font-family: 'Jost', sans-serif;
  font-weight: 200;
  font-size: 12px;
  letter-spacing: 0.48px;
  color: #000000 !important;
  text-transform: uppercase;
}

.brand{
  font-family: 'Jost', sans-serif;
  font-weight: 100;
  top: 35px;
  left: 896px;
  width: 124px;
  height: 34px;
}

#basic-navbar-nav {
  margin: auto;
}